@page "/disciplines"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorAcademyHW.Models
@using BlazorAcademyHW.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorAcademyHW.Data.BlazorAcademyHWContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>
<h2>Disciplines</h2>

<p>
    <a href="disciplines/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Disciplines">
    <PropertyColumn Property="disciplines => disciplines.discipline_name" />
    <PropertyColumn Property="disciplines => disciplines.number_of_lessons" />

    <TemplateColumn Context="disciplines">
        <a href="@($"disciplines/edit?discipline_id={disciplines.discipline_id}")">Edit</a> |
        <a href="@($"disciplines/details?discipline_id={disciplines.discipline_id}")">Details</a> |
        <a href="@($"disciplines/delete?discipline_id={disciplines.discipline_id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorAcademyHWContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
