<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Numerics</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dec2bin">
                <span class="oi oi-calculator" aria-hidden="true"></span> DEC → BIN
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dec2hex">
                <span class="oi oi-calculator" aria-hidden="true"></span> DEC → HEX
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bin2dec">
                <span class="oi oi-calculator" aria-hidden="true"></span> BIN → DEC
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hex2dec">
                <span class="oi oi-calculator" aria-hidden="true"></span> HEX → DEC
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bin2hex">
                <span class="oi oi-calculator" aria-hidden="true"></span> BIN → HEX
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hex2bin">
                <span class="oi oi-calculator" aria-hidden="true"></span> HEX → BIN
            </NavLink>
        </div>
    </nav>
</div>

