@page "/groups"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorAcademyHW.Models
@using BlazorAcademyHW.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorAcademyHW.Data.BlazorAcademyHWContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>
<h2>Groups</h2>

<p>
    <a href="groups/create">Create New</a>
</p>

<form action="/groups" data-enchance>
    <input type="search" name="DirectionFilter" />
    <input type="submit" value="Search" />
</form>


<QuickGrid Class="table" Items="FilteredGroups">
    <PropertyColumn Property="groups => groups.group_name" Title="Группа" />
    <PropertyColumn Property="groups => groups.direction" />
    <TemplateColumn Title="Направление">
        @context.Direction?.direction_name
    </TemplateColumn>
    <TemplateColumn Context="groups">
        <a href="@($"groups/edit?group_id={groups.group_id}")">Edit</a> |
        <a href="@($"groups/details?group_id={groups.group_id}")">Details</a> |
        <a href="@($"groups/delete?group_id={groups.group_id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorAcademyHWContext context = default!;
    private List<Groups> groupsList = new();
    [SupplyParameterFromQuery]
    string? DirectionFilter { get; set; }

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        groupsList = context.Groups
            .Include(g => g.Direction) // Загружаем связь
            .ToList();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();

    IQueryable<Groups> FilteredGroups =>
    context.Groups.Where(g => g.Direction.direction_name.Contains(DirectionFilter ?? string.Empty));

}
